<section class="user">
  <%= profile_image(@user) %>
  <h1><%= @user.name %></h1>
  <% if @user.username %>
    <strong> <%= @user.username %> </strong>
  <% end %>
  <h2><%= mail_to(@user.email) %></h2>
  <h3>Member Since</h3>
  <p>
    <%= @user.created_at.strftime("%B %Y") %>
  </p>
  <% if current_user %>
    <div class="actions">
      <%= link_to "Edit Profile", edit_user_path(@user), class: "button edit"%>
      <%= link_to "Delete Profile", user_path(@user), class: "button delete", data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure you want to delete your account?"
        }
      %>
  <% end %>
  </div>
</section>
