
  <ul class="reviews">
    <% @reviews.each do |review| %>
      <li>
        <%= render"shared/stars", percent: review.stars_as_percent %>
        <p>
          <%= profile_image(review.user, 35) %>
          <%= link_to review.user.name, review.user %>
          <span class="date">
            <%= time_ago_in_words(review.created_at) %> ago
          </span>
        </p>
        <p>
          <%= review.comment %>
        </p>
      </li>
      <section class="admin">
        <%= link_to "Edit", edit_movie_review_path(@movie, review), class: "button" %>
        <%= link_to "Delete", movie_review_path(@movie, review), class: "button",
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </section>
</section>
    <% end %>
  </ul>
  <section class="admin">
    <%= link_to "Write Review", new_movie_review_path(@movie) %>
  </section>
